.App {
  display: flex;
  height: 100vh;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: rgb(0, 36, 32);
  background: linear-gradient(
    62deg,
    rgba(0, 36, 32, 1) 40%,
    rgba(126, 0, 30, 1) 35%,
    rgba(0, 212, 255, 1) 20%
  );
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.temperature {
  flex-direction: column;
}
.degree-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.degree-section span {
  margin: 0.5rem;
  font-size: 2rem;
}

.degree-section h2 {
  font-size: 2.5rem;
}
.temperature-description {
  font-size: 1.3rem;
  font-weight: bold;
}
